.add_recipe_label_centre{
  text-align: center;
}

.card {
  height: 100%;
}

.jumbotron {
  min-height: 900px;
  background-image: url(../images/intro_pic2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center right;
  margin: 0;
} 

.jumbotron h2 {
  margin: 0;
}

.index_title {
  /* padding-left: 60px; */
  padding-top: 70px;
  font-size: 100px;
  font-weight: 280;
  padding-bottom: 70px;

}

.nav-wrapper {
  padding-left: 20px;
  padding-right: 20px;
}

.search_recipe {
  /* padding-top: 50px; */
  /* padding-left: 0px; */
  font-weight: 600;
}

.find_recipes_button {
  margin-top: 25px;
}

.find_recipe_label {
  font-weight: 600;
  /* font-size: 1rem; */
  
}

.nav_footer {
  margin-left: 20px;
}

.input-field label.find_recipe_label {
  font-size: 2rem;
  top: -5px
}

.search_recipe input[type='text'] {
  font-size: 2rem;
}

.page-footer {
  padding-top: 0px;
  background-color: #ee6e73;
}



.center-footer-copyright {
  text-align: center;
  color: #fff;
}

.recipe_name_decoration {
  font-weight: 600;
}

.photo_ingredient {
  padding-left: 30px;
}

.recipe_intro_text {
  font-weight: 500;
}

.card .card-title {
  font-size: 25px;
  font-weight: 500;
  text-align: center;
}



















