.add_recipe_label_centre{
  text-align: center;
}

.card {
  height: 100%;
}

.jumbotron {
  background-image: url('../images/spaghetti-bolognese-food-rustic-mince-meat-1418253-pxhere.com.jpg');
  background-size: cover;
}