{% extends 'base.html' %}
{% block nav_add_recipe %}active{% endblock %}
{% block content %}

  <h3>Add Recipe</h3>

  <div class="row">
    <form action='{{ url_for("add_recipe")}}' method='POST' class="col s12" action='/'>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">local_dining</i>
          <!-- match the names of the input fields to the names of fields in mongodb -->
          <input id="recipe_name" name='recipe_name' type="text" class="validate">
          <label for="icon_prefix">Recipe Name</label>
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">description</i>
          <textarea name="short_description" id="short_description" class="materialize-textarea"></textarea>
          <label for="icon_telephone">Short Description</label>
        </div>
      </div>
      <div class="row">
        <!-- <form class="col s12"> -->
          <div class="row">
            <div class="input-field col s4">
              <i class="material-icons prefix">local_dining</i>
              <textarea name="ingredients" id="ingredients" class="materialize-textarea"></textarea>
              <label for="textarea1">Ingredients (one per line please)</label>
            </div>
            <div class="input-field col s8">
              <i class="material-icons prefix">description</i>
              <textarea name="method" id="method" class="materialize-textarea"></textarea>
              <label for="textarea1">Method</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6">
              <i class="material-icons prefix">image</i>
              <!-- match the names of the input fields to the names of fields in mongodb -->
              <input id="image" name="image" type="text" class="validate">
              <label for="icon_prefix">Image Link (Full Path)</label>
            </div>
          </div>
          <div class="row">
            <div class="col s12">
              <button class="btn waves-effect waves-light" type="submit" name="submit">Submit
                <i class="material-icons right">send</i>
              </button>
            </div>
          </div>
        <!-- </form> -->
      </div>
    </form>
  </div>

  {% endblock %}