<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Chose fontawesome over material icons -->
  <script src="https://kit.fontawesome.com/8a2ecdb18d.js" crossorigin="anonymous"></script>
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

</head>

<body>
  {% block content %}
  {% endblock %}

  <!-- good practice to leave jquery at bottom of body element because this will allow html elements fully rendered b4 any js activity or functions target those elements that have been rendered  -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

</body>

</html>