
{% extends 'base.html' %}
{% block content %}
    <!-- Jumbotron Header -->
    <header class="jumbotron">
      <h2 class="index_title title_position_ipad">Recipes</h2>
      <div class="row">
        <div class="search_recipe input-field col s6 l3">
            <form action="{{ url_for('search') }}" method="POST">
              <input class="index_searchbox text_search_padding" name="query" type="text">
        </div>
        <div class="find_recipes_button col s6 l3">
          <button class="btn waves-effect waves-light" type="submit" name="action">Find Recipes
            <i class="material-icons right">send</i>
          </button>
          </form>
        </div>
      </div>
    </header>
    <div class="row flex text-center">
      {% for recipe in Recipes %}
        <div class="col s12 m6 l3">
          <div class="card card-image">
              <div class="card-image">
                <img src="{{ recipe.image }}">
              </div>
              <div class="card-title">{{ recipe.recipe_name}}</div>
              <div class="card-content">
                <p>{{ recipe.recipe_intro}}</p>
              </div>
              <div class="card-action find_out_more_button_margin height_card">
                <a class="button_margin" href="{{ url_for('recipe', recipe_id=recipe._id) }}">Find Out More</a>
              </div>
          </div> 
        </div>
      {% endfor %}
    </div>
{% endblock %}


