{% extends 'base.html' %}

{% block content %}
    <h1 class="recipe_name_decoration">{{ recipe.recipe_name }}</h1>

    <div class="row">
      <div class="col s12 m12 l6">
        <p>Views: {{ recipe.views }}</p>
        <img src="{{ recipe.image }}" alt="" class="card-image">
        <hr>
        <h5 class="recipe_intro_text">{{ recipe.recipe_intro }}</h5>
        <br>
      </div>
      <div class="col s12 m12 l6">
        <h3 class="photo_ingredient">Ingredients</h3>
        <p class = "photo_ingredient" style='white-space: pre-wrap;'>{{ recipe.ingredients }}</p>
      </div>
    </div>
    <div class="row float-right">
      <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class='waves-effect waves-light btn'>Edit Recipe</a>
      <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" class='waves-effect waves-light btn'>Delete Recipe</a>
    </div>
    <!-- Not sure what to do here. Do i use a if condition so that if the  correct user is on his recipe page, does he have a choice to 'edit' or 'delete' there recipe. As i dont have this project built for username sprecification -->

    <h3>Method</h3>
    <p style="white-space: pre-wrap;">{{ recipe.method }}</p>
    <!-- <p>Recipe submitted by: {{ recipe.user }}</p> -->

{% endblock %}





