{% extends 'base.html' %} 
{% block content %}
    <div class="row">
      <div class="col s12 m12 l6">
        <h1>Recipes</h1>
      </div>
      <div class="input_line col s6 m6 l3">
        <form action="{{ url_for('search') }}" method="POST"> <input type="text" name="query" class="validate" />
      </div>
      <div class="col s6 m6 l3">
        <button class="btn waves-effect waves-light button_position" type="submit" name="action">
            Find Recipes!
            <i class="material-icons right">send</i>
        </button>
      </div>
    </form>
    </div>

      <!-- </form> -->
      <!-- </div>
    </div> -->
    <hr>
    <div class="row flex text-center">
      {% for recipe in Recipes %}
        <div class="col s12 m6 l3">
          <div class="card">
            <div class="card-image">
              <img src="{{ recipe.image }}">
              <!-- <span class="card-title">{{ recipe.recipe_name}}</span> -->
            </div>
            <div class="card-title">{{ recipe.recipe_name}}</div>
            <div class="card-content">
              <p>{{ recipe.recipe_intro}}</p>
            </div>
            <div class="card-action">
              <a href="{{ url_for('recipe', recipe_id=recipe._id) }}"
                >Find Out More</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <!-- <div>
      <nav aria-label="Search Results Pages">
        <ul class="pagination">
          {% for pagenum in pages %}
              {% if pagenum == page %}
                  <li class="active"></li>
              {% else %}
                  <li class="page-item"><a class="page-link" href="{{ url_for('recipes', page=pagenum) }}">{{ pagenum }}</a>
                  </li>
              {% endif %}
          {% endfor %}
        </ul>
      </nav>
    </div> -->
{% endblock %}



